@import "./settings";
@import "./components/navigation";
@import "./components/logo";
@import "./components/countries";
@import "./components/card";
@import "./components/article";

.blog {
  text-align: center;
  form {
    @include verticalCenter;
    flex-direction: column;
    align-items: end;
    width: 500px;
    margin: 0 auto;
    gap: 10px;
    textarea,
    input {
      width: 100%;
      padding: 5px;
      border: 1px solid green;
    }

    textarea {
      height: 80px;
    }

    button {
      background-color: lime;
      padding: 5px 20px;
      width: 150px;
    }
  }
}
